html{
    
}
body{
    background-color:#f2f4f8;
    margin:0px;
    padding:0px;
}
div{
    display:inline-block;
}
.navBar{
    box-sizing: border-box;
    background-color: #1F2937;
    display:flex;
    justify-content: space-between;
    padding: 15px 150px 15px 150px;
    margin:0;
}
.navBar .Logo{
    font-weight:bolder;
    color:#F9FAF8;
    font-size:24px;
    justify-content: flex-start;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display:flex;
    gap:10px;
  }
  li {
    float: left;
  }
  li a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    font-weight:lighter;
  }
 
.sec1{
    margin:0;
    background-color: #1F2937;
    width: 100%;
    padding:50px 150px 100px 150px;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
}
h1{
    color: #F9FAF8;
    font-size:48px;
    font-weight:bolder;
    width: 400px;
    margin:0;
}
.regText{
    color: #e5e7eb;
    font-size: 19px;
    font-weight:lighter;
}

.sec1Text{
    width:420px;
    margin:0;

}
.sec1 .signUpButton{
    background-color: #3882F6;
    border:none;
    border-radius:10px;
    font-size:18px;
    padding: 7px 40px 7px 40px;
    color: #E5E7EB;
    margin-top:15px;
}

.sec1 .imagePlaceholder{
    color: #E5E7EB;
    width:215px;
    padding: 80px 100px 80px 100px;
    background-color: rgb(120, 120, 120);
}

.sec2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
    padding: 0 0 75px 0;
}

.sec2 h2{
    display:flex;
    align-items: center;
    justify-content: center;
}

.box{
    margin-top: 30px;
    padding: 85px;
    border: 3px solid #3882F6;
    border-radius: 10px;
}
.regText2{
    color: #4b4b4c;
    font-size: 19px;
    font-weight:lighter;
    width: 170px;
    padding: 0 20px 0 20px;
    margin-top: 0;
}

.sec2 .sec2Inner{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sec3{
    background-color: #E5E7EB;
    width: 100%;
}
